@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 240 5% 12%;
        --foreground: 0 0% 98%;

        --card: 240 4% 16%;
        --card-foreground: 0 0% 98%;

        --border: 240 5% 26%;
    }
}